
.cont{
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    position: relative;
}
.cont img{    position: relative;
    left: 210px;
}
input{
    display: block;
    margin: 0 auto;
}

@media (max-width:926px){
    .cont {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        background-color:rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        position: relative;
    }.cont img{    position: relative;
        left: 120px;
    }
}
